/// ...

$breakpoint-m: 1200px;
$breakpoint-l: 1600px;

/// COLORS

$color-background: #121E29;
$color-background-light: #152635;

$color-primary: #0c518a;
$color-primary-light: #206cb1;

$color-buttons: #1e4b75;
$color-buttons-hover: #276092;

$scroll-background: #2680c5;

$color-menu-background: $color-primary;
$color-menu-active: #2680c5;

$color-shadow: #141414; //#07243e;

/// MENU

$menu-header-height-m: 96px;
$menu-header-height-l: 128px;
$menu-width-m: 300px;
$menu-width-l: 400px;
