<!DOCTYPE html>
html(lang="en")
    head
        title 2017 | Advent Of Code
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href='/css/style.build.css', rel="stylesheet")

    body
        section(id="root-element")
        script(type="text/javascript", src="/js/elm.build.js")
        script(type="text/javascript").
            var node = document.getElementById('root-element');
            var app = Elm.Main.embed(node);